body {
	word-wrap: break-word
}
small {
	font-size:80%;
}
.is-post label { font-weight:bold}
#header {
	background-color:#3385C1;
	padding-left:70px;
}

/** Tables **/
table {
	border-right:0;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	width: 100%;
}
th {
	border:0 !important;
	border-bottom:1px solid #555 !important;
	text-align: left !important;
	padding:4px !important;
    font-weight: bold !important
}
th a {
	display: block !important;
	padding: 2px 4px !important;
	text-decoration: none !important;
}
th a.asc:after {
	content: ' ⇣' !important;
}
th a.desc:after {
	content: ' ⇡' !important;
}
table tr td {
	padding: 0 6px !important;
	text-align: left !important;
	vertical-align: top !important;
	border-bottom:1px solid #ddd !important;
}
table tr:nth-child(even) {
	background: #f9f9f9 !important;
}
td.actions {
	text-align: center !important;
	white-space: nowrap !important;
	width: 1% !important;
}
table td.actions a {
	margin: 0px 6px !important;
	padding:2px 5px !important;
}

.upper-menu ul li a {
	color:#000;
	font-weight: bold;
	text-decoration: none;
}
#header,
.upper-menu,
div.paging-block {
    text-align: center;
}

.top-menu {
	background-color: #F8F8F8;
	font-size: 1.4em;
}
.upper-menu ul,
#header ul,
.top-menu ul {
	list-style: none;
}
#header ul {
	margin-top:12px
}
.upper-menu ul li,
#header ul li,
.top-menu ul li {
	margin: 0 6px;
	padding: 0;
	display: inline-block;
}
.upper-menu ul li {
	padding-left: 20px;
}
#logo h1 a,
#header a {
	color:#fff;
	text-decoration:none;
	font-size:0.9em
}
#logo h1 a { color: #000 }
#header li.current_page_item {
	text-decoration:underline;
	font-weight:bold;
}
.top-menu ul li a.active {
	font-weight: bold;
}
div.input-block {
	width: 50%;
	float: left;
}
div.input {
	padding: 0px 10px 10px 0;
}
.submit-btn {
	display: inline-block;
	margin-right: 10px;
}
.submit-block input {
	width: auto;
}

/** Clear **/
div.clear {
	clear: both;
}
.highlight {
	background-color: #FFFF88;
}
input[type="radio"], input[type="checkbox"] { margin: 8px 0 0 0; }
/*.is-search .btn { font-size: 1.5em }*/
.well { margin-bottom: 20px}
.well .row-fluid { padding-right: 15px;}
.well, article.autore {
	border-radius: 0.4em;
	border-radius: 0.4em;
	box-shadow: 0.25em 0 0 0 #fbfbfb, 0 0 0.25em 0em rgba(0,0,0,0.25);
	padding-left:1em;
	padding-bottom: 1em;
	background-color: #fff;
}
.autore.is-post h2 {
	font-size:2em
}
.autore.is-post .byline {
	font-size:1.7em;
}
.autore.is-post header {padding-left:0em;margin-bottom: 1em}
.autore.is-post .info {
	left: -67px;
	top: 10px;
	box-shadow: 0.25em 0.25em 0.25em 0.25em #fbfbfb, 0 0 0.25em 0em rgba(0,0,0,0.25);
	z-index: -1;
}
.autore.is-post .info .date {
	font-size: 0.8em;
}
a.btn  {
	text-decoration: none;
}
h3 {
	margin-top: 2em !important;
}
div.required label:after {
	content: '*';
	color:red;
}


/** Scaffold View **/
dl {
	line-height: 2em !important;
	margin: 0em 0em !important;
	width: 100% !important;
}
dl dd:nth-child(4n+2),
dl dt:nth-child(4n+1) {
	background: #f4f4f4 !important;
}

dt {
	font-weight: bold !important;
	padding-left: 4px !important;
	vertical-align: top !important;
	width: 30% !important;
}
dd {
	margin-left: 30% !important;
	margin-top: -2em !important;
	vertical-align: top !important;
}
div.cintillo {
	background-color:#fff;
}
.text-justify {
	text-align:justify;
}
.center-image img {
	height: 200px;
}
.center-image {
	text-align: center;
}